.features {
	color: var(--secondary-text-color);
}

.features__list {
	display: flex;
}

.features__item {
	width: calc((100% - 3 * 30px) / 4);

	&:not(:last-child) {
		margin-right: 30px;
	}
}

.features__wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	margin-bottom: 30px;
	border-radius: 4px;
	background-color: var(--section-bg-color);
}

.features__title,
.label {
	font-size: 14px;
	text-transform: uppercase;
	color: var(--primary-text-color);
}

.features__title {
	margin-bottom: 10px;
}

.features__text {
	@include font(null, 14px, 1.71, null);
}
